*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 129, 0);
    color: white;
    height: 10vh;
    cursor: pointer;
}
.nav_logo span{
    color: turquoise;
}
.nav_content ul{
    display: flex;
    gap: 20px;
}
.nav_content li{
    list-style: none;
}
.nav_content li:hover{
    color: tomato;
}
.nav_button button{
    padding: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.nav_button button:hover{
    background-color: tomato;
}
main{
    background-image: url(image/img.webp);
    height: 90vh;
    background-size: cover;
}
.content_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content_main button{
    padding: 5px;
    border-radius: 6px;
    border: none;
}                                                                       